/*@primary: #FF6200;
@secondary-a: #FF8C00;
@secondary-b: #FF1800;
*/
.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
  color: #000000;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ccf600;
  background-repeat: repeat-x;
  background-image: linear-gradient(top, #009ed2 0%, #007da7 100%);
}
.btn-ttc:hover {
  background-position: 0 -15px;
}
#symbol-holder {
  background-color: #ccf600;
}
.previous-symbol {
  background-color: #ccc;
}
#card2 {
  color: orange;
}
.disabled {
  background-color: #aaa;
  color: #888;
}
.hidden {
  visibility: hidden;
}
body {
  background-color: #dafb3f;
}
.wrapper {
  width: 440px;
  margin: 40px auto;
}
.wrapper #description,
.wrapper #game-over,
.wrapper #game-holder {
  height: 380px;
  background-color: #e3fb71;
  padding: 20px;
  z-index: 1;
  border: 15px solid #85a000;
  color: #000000;
}
.wrapper #game-holder #cards-holder {
  width: 100%;
  border: 1px solid red;
}
.wrapper #game-holder #cards-holder #slider {
  z-index: -1;
  position: absolute;
  background-color: green;
}
.wrapper #game-holder #cards-holder .card {
  color: #000000;
  display: inline-block;
  margin: 20px 10px 20px 10px;
  font-size: 72pt;
  padding: 10px 40px 40px 40px;
  border-radius: 15px;
  /*border: 1px solid #ddd;*/

  width: 150px;
  height: 150px;
  text-align: center;
  text-transform: uppercase;
  z-index: 10;
  /*position: absolute;*/

  background-color: #ccf600;
}
.wrapper .buttons-holder {
  bottom: 69px;
  position: relative;
  margin: 0px auto;
  height: 54px;
  width: 410px;
}
.wrapper .buttons-holder button {
  border-radius: 0px;
  width: 203px;
}
.wrapper #game-info {
  color: #000000;
}
.wrapper #game-over {
  color: #000000;
  text-align: center;
  font-size: 24pt;
}
.wrapper .remains-message {
  color: #000000;
  font-size: 80%;
  padding-top: 20px;
  /*text-align: center;*/

}
