.matrix {
    position: relative;
    width: 400px;
    height: 400px;

    .cell {
        background-color: green;
        position: absolute;
        width: 62px;
        height: 62px;
    }

    .cell.correct.selected {
        background-color: purple;
    }
}

.matrix.preview {
    .cell.correct {
        background-color: purple;
    }
}

.win, .lose {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 24pt;
  text-align: center;
  line-height: 30pt;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
}

.hidden {
  display: None;
}
